<div class="wrapper">
  <h2 mat-dialog-title>Enter Players</h2>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Player1" formControlName="player1" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player2" formControlName="player2"
    /></mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player3" formControlName="player3"
    /></mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player4" formControlName="player4"
    /></mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Ok</button>
  </mat-dialog-actions>
</div>
