<div class="wrapper">
  <h2 mat-dialog-title>Enter Players</h2>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input style="color: red;" matInput placeholder="Red Player" formControlName="player1" />
    </mat-form-field>
    <mat-form-field>
      <input style="color: blue;" matInput placeholder="Blue Player" formControlName="player2"
    /></mat-form-field>
    <mat-form-field>
      <input style="color: yellow;" matInput placeholder="Yellow Player" formControlName="player3"
    /></mat-form-field>
    <mat-form-field>
      <input style="color: green;" matInput placeholder="Green Player" formControlName="player4"
    /></mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Ok</button>
  </mat-dialog-actions>
</div>
