<div class="wrapper">
  <div class="left-components">
    <div class="dice-component">
      <button class="roll-button" (click)="roll()">Roll</button>
      <div class="dices">
        <div class="dice" *ngIf="hasDiced">{{ rnd1 }}</div>
      </div>
    </div>
    <div class="nextPlayer-component" *ngIf="gameStarted">
      <p>
        It's
        <span
          [ngStyle]="{
            color: nextPlayer.color
          }"
          >{{ nextPlayer.name }}'s</span
        >
        turn
      </p>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let dot of dots; index as i">
      <span
        class="dot"
        [ngStyle]="{
          backgroundColor: dot.color,
          'border-color': dot.bordercolor
        }"
      >
        <p
          class="figure"
          [ngStyle]="{ color: dot.figureColor }"
          (click)="getFieldId(dot.fieldId)"
        >
          {{ dot.content }}
        </p>
      </span>
    </div>
  </div>
</div>
