<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 20px" >
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="margin-top: 20px; display: flex; align-items: center; justify-content: center">
  <ul class="hidden-listpoints" style="text-align: center">
    <li>
      <button class="default-button button-big" onclick="location.href = ''">
        Registrieren
      </button>
    </li>
    <li>
      <button class="default-button button-big" onclick="location.href = ''">
        Login
      </button>
    </li>
  </ul>
</div>

