h1{
  font-family: Arial, serif;
}
button.default-button, a.default-button{
  padding: 8px;
  background-color: #904F;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
button.button-big, a.button-big{
  font-size: larger;
}
ul.hidden-listpoints li{
  list-style: none;
}
