<div class="userblock">
  <div class="userblock-inner" style="text-align: center">
    <div *ngIf="apiService.isAuthenticated && this.apiService.sessionUser != undefined">
      <span><b>{{this.apiService.sessionUser.firstname + " " + this.apiService.sessionUser.lastname}}</b></span><br>
      <span><i style="font-size: small; color: gray">{{this.apiService.sessionUser.email}}</i></span>
      <div style="padding-top: 10px; margin-top: 5px; border-top: 1px solid #cbcbcb;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Settings</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="user-expand">
            <button class="user-expand-btn" (click)="delAccount(this.apiService.sessionUser.id)">Delete User Account</button>
            <button class="user-expand-btn signout-btn" (click)="signOut()">Sign Out</button>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div *ngIf="apiService.isAuthenticated == false"><span><a [routerLink]="['/login']">Login</a> or <a [routerLink]="['/register']">Register new</a></span></div>
  </div>
  <div *ngIf="apiService.isAuthenticated && this.apiService.sessionUser != undefined" class="userblock-inner" style="max-height: 50vh; overflow-y: auto;">
    <span><b>Game History</b></span>
    <div class="game-history-container" style="text-align: center; padding-top: 10px">
      <span *ngIf="failedToLoadGameHistory" style="font-style: italic; color: #989898">Failed to load Game History, please try again later.</span>
      <span *ngIf="gameHistory.length == 0" style="font-style: italic; color: #989898">No Games found.</span>
      <ul>
        <li class="history-game" *ngFor="let game of gameHistory; index as i">
          <span><b>Game #{{i}}</b></span><br>
          <span style="color: #989898; font-size: small"><i>{{datePipe.transform(game.startdate, 'dd.MM.yyy HH:mm')}}</i></span>
          <div style="margin-top: 5px">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Rankings</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="user-rankings">
                <ul>
                  <li *ngFor="let rank of gameHistory[i].memberrankmap | keyvalue">
                    <div class="gamerank gamerank-{{rank.value}}">
                      <span>{{rank.key}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </mat-expansion-panel>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
