<div style="text-align:center" >
  <h1 style="padding-top: 20px">
    Welcome to {{ title }}!
  </h1>
</div>
<div style="margin-top: 20px; display: flex; align-items: center; justify-content: center">
  <ul class="hidden-listpoints" style="text-align: center">
    <li *ngIf="!apiService.isAuthenticated">
      <button class="default-button button-big" [routerLink]="['/register']">
        Registrieren
      </button>
    </li>
    <li *ngIf="!apiService.isAuthenticated">
      <button class="default-button button-big" [routerLink]="['/login']">
        Login
      </button>
    </li>
    <li>
      <button class="default-button button-big" [routerLink]="['/gameboard']" [disabled]="!apiService.isAuthenticated">
        Start new Game <i *ngIf="!apiService.isAuthenticated" style="color: #646464">(You need to login to play)</i>
      </button>
    </li>
  </ul>
</div>
